$font__text: 'Nunito Variable', sans-serif;
$primary__background___body: #333533;
$primary__background__footer: #f5cb5c;
$primary__color__text: #e8eddf;
$primary__color__titles: #cfdbd5;
$secondary__background__body: #181d27;
$max-width: 800px;
