$font__text: 'Nunito Variable', sans-serif;
$primary__background___body: #333533;
$primary__background__card: #252422;
$secondary__background__body: #181d27;
$primary__border__card: #f4845f;
$primary__color__text: #e8eddf;
$primary__color__titles: #cfdbd5;
$primary__color__subtitles: #f9844a;
$primary__color__strong__text: #ff6700;
$max-width: 970px;
