@use 'variable' as v;
@use 'media-queries' as m;

.title {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.25rem;
  color: v.$primary__color__titles;
  margin-bottom: 1.5rem;
  max-width: calc(v.$max-width - 200px);
}

@include m.Mobile {
  .title {
    font-size: 2.5rem;
  }
}
