---
import stylesScss from '../styles/note.module.scss'
---



<p class={stylesScss.note}>
    <strong>Nota:</strong> Esta p치gina se ha creado principalmente como un lugar donde se pueden encontrar <strong>herramientas, recursos y muchas otras cosas m치s</strong> que pueden ayudar a facilitar el aprendizaje sobre la <strong>programaci칩n y el dise침o</strong>, as칤 como tambi칠n durante <em>el proceso de desarrollo</em>.
</p>
<p class={stylesScss.note}>
La mayoria de recursos de esta web, provienen de un notion de OpenBootcamp, si quieres ir y encontrarte con mas variedad de recursos increibles; difigete hacia <a href="https://openbootcamp.notion.site/openbootcamp/OpenResources-Lo-Googleaste-Lo-tenemos-99e110d34a1f40b8b6645f3e35fb7fd5" target="_blank" rel="noopener noreferrer">游녤 OpenResources</a> 
</p>